## CPP IGNORE
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build

## ANTLR IGNORE
grammar/**
!grammar/*.g4
*.tokens
*.interp

MiniDecaf
*.c
*.txt